@import "compass"

@import "compass/reset"


$container: 800px
$gtr: 10px
$line: 22px

// TODO -- rework as 490 px so it fits 2col in ipad portrait
// but wait until you have more items
$column: 500px + $gtr * 2

$body-text: "abril-text", serif
$sans: "Helvetica Neue", sans-serif

$text-color: #222
$green: #46b64f

*
  position: relative
  @include box-sizing(border-box)

html
  font-size: 15px
  font-family: $body-text
  line-height: $line
  color: $text-color

body
  margin: 0 auto

a
  text-decoration: none
  color: inherit

em
  font-style: italic

h1, h2, h3
  font-weight: bold
  line-height: 1

h1
  font-size: $line * 2

h2
  font-size: $line

p
  text-align: justify
  padding-bottom: $line / 2
  a
    text-decoration: underline

img
  max-width: 100%

.nowrap
  white-space: nowrap

.container
  @include clearfix
  margin: 0 auto
  width: 100%
  @media (min-width: $column * 2)
    width: $column * 2
  @media (min-width: $column * 3)
    width: $column * 3
  @media (min-width: $column * 4)
    width: $column * 4

.site-header
  padding: $line $gtr
  @extend .container

article
  float: left
  padding: $line $gtr
  width: 100%
  margin: 0
  @media (min-width: $column * 2)
    width: $column

  .agency
    font-style: italic

  .tech li
    display: inline-block
    font-family: sans-serif
    border: 1px solid $green
    background-color: #cec
    padding: 0 4px
    margin: 2px 0
    border-radius: 4px

.site-footer
  color: white
  background-color: $green
  padding: $line 0
  width: 100%

  .container
    padding: 0 $gtr

.contact
  margin: 0 auto
  a
    text-decoration: underline

  dt
    float: left
    padding-right: $gtr


